# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# SQLite database
db.sqlite3

# Django static files
staticfiles/
media/

# IDE/editor files
.vscode/
*.swp
*.swo
.idea/
